Imported the libraries

In [1]:
import pandas as pd
import numpy as np

Download the file

In [2]:
torontodf = pd.read_csv('TorontoPostalCode2.csv', delimiter = ';')
torontodf.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

Removal of empty cells in the Borough column. Change the name 'Not assigned' in 'NaN', in the 'Borough' column.

In [3]:
toronto = torontodf.replace({'Borough': 'Not assigned'},np.NaN)

In [4]:
torontodfSansNA = toronto.dropna(subset=['Borough'],axis=0)

Check if the Postal Code is unique or not

In [6]:
torontodoubled = torontodfSansNA['Postal code'].unique().shape
if (torontodfSansNA.shape[0]==torontodoubled[0]):
     print('Postal Code is OK, none of its values is doubled')
else:
     print ('Some incongruences found, please check consistency')

Postal Code is OK, none of its values is doubled

Check if the Neighborhood colums has 'Not assigned' values

In [7]:
torontodfSansNA.isna().sum()

Postal code     0
Borough         0
Neighborhood    0
dtype: int64

The number of rows of the dataframe :

In [8]:
torontodfSansNA.shape

(103, 3)